<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>

<script type='text/template' id='viewLi'>
    <p>
        <img src='http://smktesting.herokuapp.com/static/<%= img %>'>
        <%= title %> /
        <%= text %>
    </p>
</script>

<script tepe = 'text/template' id='viewUl'>
  <ul></ul>
</script>


<script src="libe/jquery.min.js"></script>
<script src="libe/underscore.js"></script>
<script src="libe/backbone.js"></script>
<script src="script.js"></script>
</body>
</html>
